**/target
**/mir_dump
**/*.rs.bk
*.dot
.vscode
*.png
png
log
mir
dot
example
get_png.sh
examples/**/Cargo.lock
examples/**/**/Cargo.lock
scripts/real-world-crates/**/
scripts/operating-systems
scripts/evaluations/**/
main
crates/
test1
case*
cmp/
benchmark/
benchmark-crates/
scripts/
static_vcruntime/
*.mir
reachable_test/
sequence/
pre_result/
case-study/
target-nightly-2025-11
*.log
*.rlib
nullness_bad
rust/
reference/
.codex